# =========================
# PAIMANA Git Ignore
# =========================

# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/

# Environment variables / secrets
.env
.env.*
!.env.example

# Jupyter
.ipynb_checkpoints/

# Node / React
node_modules/
dist/
build/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.temp

# Model/cache artifacts
*.pkl
*.pickle

# Local databases
*.db
*.sqlite
*.sqlite3

test_rl.pdf

data/ConstructionData.csv

index.html
